* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hsl-1: 233;
  --hsl-2: 275;

  /* Color */
  --color-base-gray: hsl(var(--hsl-1), 100%, 97%);
  --color-base-pink: hsl(312, 91%, 96%);
  --color-base-purple: hsl(var(--hsl-2), 18%, 79%);

  --color-base-gray-dark: hsl(218, 17%, 62%);
  --color-base-purple-dark: hsl(var(--hsl-2), 84%, 12%);
  --color-base-blue-dark: hsl(var(--hsl-1), 17%, 35%);

  --color-base-white: hsl(0, 0%, 100%);

  /* Font */
  --fs-heading: 4rem;
  --fs-texting: 1.6rem;
  --fs-card: 2rem;

  /* Font-Family */
  --ff-texting: "Palanquin", sans-serif;
  --ff-special: "Staatliches", cursive;
}

body {
  font-family: var(--ff-texting);
  font-size: var(--fs-texting);

  text-align: center;

  margin: 0 auto;
}

.header {
  background-color: var(--color-base-blue-dark);

  width: 100%;

  padding: 3.2rem 0;
}

.header h1 {
  color: var(--color-base-white);
  text-shadow: black 0px 1px 0.2em;

  text-transform: uppercase;

  background-color: var(--color-base-purple);

  margin-bottom: 1.6rem;
}

.header img {
  width: clamp(13rem, 15rem + 15vw, 50rem);
  height: clamp(13rem, 15rem + 15vw, 50rem);

  margin-bottom: 2.4rem;
}

header .describe {
  background-color: var(--color-base-gray);

  color: var(--color-base-purple-dark);

  font-size: var(--fs-texting);

  font-weight: 400;
  line-height: 34px;
  letter-spacing: 1px;

  padding: 2.4rem;
}

main {
  background-color: var(--color-base-gray);

  padding: 2.4rem 3.2rem;
}

main .card-wrapper {
  display: grid;
  gap: 2rem;
}

main img {
  /* display: none; */

  width: 100%;
  max-height: 35rem;
  aspect-ratio: 9/16;
  object-fit: cover;

  position: relative;
}

main span {
  /* Box */
  background: var(--color-base-pink);

  width: 11.2rem;
  height: 3.5rem;

  border-radius: 20px;

  /* Text */
  font-family: var(--ff-special);

  color: var(--color-base-blue-dark);

  font-size: var(--fs-card);
  font-weight: 400;
  line-height: 3.4rem; /* 170% */
  letter-spacing: 1px;

  /* Position*/
  position: absolute;

  right: 0;
  transform: translate(-4.2rem, 1.5rem);
}
